/* ----------------------
Remove automatic Streamlit hover link
-----------------------*/

#about {
    background-color: #F1F1F1;
    color: #002171;
}

iframe:not( :last-child) {
    height: 0rem;
}

.appview-container > :last-child {
    margin-top: -110px;
}

.h2_remove_hover div :not(span) {
    display: none;
  }
  

/* ----------------------
Content
-----------------------*/


#title_main_obj {
    text-align: center;
    font-size: 1.4em;
    color: #002171;
    margin-top: 50px;
    font-weight: bold;
}

.icon_objective_open  {
    text-align: center;
    margin-top: 50px;
}

.icon_objective_open span {
    font-size: 40px;
    padding: 25px 30px 25px 30px;
    background: #002171;
    border-radius: 200px;
}
.icon_objective_open p {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #002171;
    font-weight: 600;
}

#principles_open_pharma {
    margin-top: 30px;
}