

/* ----------------------
Remove automatic Streamlit hover link
-----------------------*/

#leaderboard {
    background-color: #F1F1F1;
    color: #002171;
}

iframe:not( :last-child) {
    height: 0rem;
}

.appview-container > :last-child {
    margin-top: -110px;
}

.h2_remove_hover div :not(span) {
    display: none;
  }

/* ----------------------
Content
-----------------------*/

/* ----------------------
Leaderboard by categories
-----------------------*/
dfn {
    padding: 0 0.4em;
    cursor: help;
    font-style: normal;
    position: relative;
    margin-top: 10px;
  }
  dfn::after {
    content: attr(data-info);
    display: inline;
    position: absolute;
    top: 22px; left: -60px;
    opacity: 0;
    width: 200px;
    font-size: 15px;
    line-height: 1.5em;
    padding: 0.5em 0.8em;
    background: rgba(0,0,0,0.8);
    color: #fff;
    pointer-events: none; /* This prevents the box from apearing when hovered. */
    transition: opacity 250ms, top 250ms;
    font-size: 0.82em;
  }
  dfn::before {
    content: '';
    display: block;
    position: absolute;
    top: 12px; left: 33px;
    opacity: 0;
    width: 0; height: 0;
    border: solid transparent 5px;
    border-bottom-color: rgba(0,0,0,0.8);
    transition: opacity 250ms, top 250ms;
    font-size: 0.82em;
  }
  dfn:hover {z-index: 1000;} /* Keeps the info boxes on top of other elements */
  dfn:hover::after,
  dfn:hover::before {opacity: 1; font-size: 0.82em;}
  dfn:hover::after {top: 30px;}
  dfn:hover::before {top: 20px;}
  
  .row_card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 0px;
    border-radius: 20px 20px 20px 20px;
    background: white;
    margin-bottom: 20px; 
  }

  .col_left_icon,
  .col_rank {
    display: inline-block;
  }

  
  .col_left_icon {
    background: #002171;
    color: white;
    border-radius: 20px 0px 0px 20px;
    width: 100px;
    text-align: center;
  }

  .col_left_icon h2 {
      color: white;
      font-size: 1.15em;
      margin: 0;
      padding: 0;
  }
  
  .icon_metric {
    font-size: 55px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .col_left_icon p,
  .col_left_icon h2,
  .col_left_icon dfn {
    display: block;
  }


/* ----------------------
Mobile responsiveness ranking
-----------------------*/
  .col_left_icon_mobile {
    background: #002171;
    color: white;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
  }

  .col_left_icon_mobile h2 {
      color: white;
      font-size: 1.15em;
      margin: 0;
      padding: 10px 10px 10px 0px;
  }


  .col_left_icon_mobile div {
    display: inline-block;
    text-align: left;
    text-align: justify;
  }

  .col_left_icon_mobile .icon_metric {
    width: 100px;
    display: block;
    font-size: 55px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
  }


/* ----------------------
Leaderboard by categories
-----------------------*/
  
  .table_top3 {
    vertical-align: middle;
    margin: 2px;
  }

  .rank_number {
    font-size: 25px;
    font-weight: 800;
  }
  
  .name_ranking {
    font-size: 1.1em;
    font-weight: 600;
    padding-right: 7px;
  }
  
  .table_top3 td {
    border: 1px solid white;
  }

  td a,
  td a:hover {
      position: relative;
      top: -2px;
      text-decoration: none;
  }
  
  .border_tr_rank td {
    border-bottom: 1px solid #d4d4d4;
  }

  .table_top3 img {
      border-radius: 30px;
  }

  .details_val_metric {
      color: gray;
      font-size: 0.65em;
      position: relative;
      top: -5px;
  }


  /* ----------------------
Overall Ranking Overall Ranking
-----------------------*/

  .row_global_lead {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0px;
  border-radius: 20px 20px 20px 20px;
  background: white;  
}

.table_global_lead {
  margin-top: 2px;
  vertical-align: middle;
}

.table_global_lead td,
.table_global_lead th {
    border: 1px solid white;
  }

  .table_global_lead td,
  .table_global_lead th {
    border-bottom: 1px solid #d4d4d4;
  }

  .table_global_lead img {
    border-radius: 30px;
}

thead th {
  color: #969696;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.pseudo {
  font-size: 1em;
  font-weight: 600;
}

.number_rank {
  text-align: center;
}

