/* ----------------------
Sidebar
-----------------------*/

#pharmapackages {
    background-color: white;
    color: #002171;
}

section[data-testid="stSidebar"] {
    margin-top: 75px;
}

section[data-testid="stSidebar"] > :first-child > :last-child  {
    margin-top: -90px;
}

section[data-testid="stSidebar"] > :last-child {
    top: 85px;
}



/* ----------------------
Content
-----------------------*/

.appview-container > :last-child {
    margin-top: -80px;
}

.stTextInput {
    position: relative;
    top: -30px;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 30px;
    border-radius: 15px;
  }
  
  .icon_package_card {
    -ms-flex: 0 0 80px;
      flex: 0 0 80px;
  }
  
  @media (max-width: 690px) {
    .icon_package_card {
      display: none; 
    } 
  }
  
  .row_1 h2 {
    font-size: 40px;
    padding: 0;
    margin: 0;
  }
  
  .row_1 p {
    color: gray;
    font-size: 18px;
  }
  
  .icon_proj {
    position: relative;
    top: -5px;
  }
  
  .proj_description {
      max-height: 150px;
      overflow: hidden;
      padding-right: 20px;
      margin-bottom: 30px;
  }

  .row_2 {
    margin: 5px;
  }
  
  .row_2 p {
    font-size: 14px;
    padding: 0;
    margin: 5px;
  }
  
  .row_2 h2 {
    font-size: 28px;
    padding: 0;
    margin: 0;
  }
  
  .row_2 > .col-xl-3 {
    margin-top: 20px;
    padding: 0;
  }
  
  .progress {
      margin: auto;
      margin-top: 15px;
      width: 60%;
  }

  .progress p {
      color: white;
      font-size: 14px;
      margin-top: -2px;
  }