/* ----------------------
Remove automatic Streamlit hover link
-----------------------*/

.h2_remove_hover div :not(span) {
  display: none;
}

html {
  min-width: 700px;
  height:10px;
}


/* ----------------------
Sidebar
-----------------------*/

#pharmapackages {
  background-color: #f3f4f6;
  color: #002171;
}

section[data-testid="stSidebar"] > :last-child {
  top: 60px;
}

section[data-testid="stSidebar"] {
    margin-top: 48px;
    box-shadow: 0 1px 3px rgba(142, 142, 142, 0.12), 0 1px 2px rgba(142, 142, 142, 0.12);
}

section[data-testid="stSidebar"] > :first-child > :last-child  {
  margin-top: -90px;
  padding-bottom: 110px;
}

.stTextInput div[data-baseweb="input"] {
  padding: 5px;
  box-shadow: 0 1px 1px rgba(142, 142, 142, 0.12), 0 1px 1px rgba(142, 142, 142, 0.12);
}


/* ----------------------
Content
-----------------------*/

/* remove upper space on content page */
.main iframe {
  height: 1rem;
}

.appview-container > :last-child {
    margin-top: -110px;
}

.stTextInput {
    position: relative;
    top: -30px;
}

.card {
    margin-bottom: 30px;
    border-radius: 15px;
    border: 1px solid rgb(243, 243, 243);
    
  }
  
  .icon_package_card {
    -ms-flex: 0 0 80px;
      flex: 0 0 80px;
      padding: 4px 3px 0px 15px;
  }



.pills_oss_insight {
  margin-left: 5px;
  position: relative;
  top: 1px;
}

.pills_oss_insight a p {display:none; position: absolute; width: 80px; text-decoration: underline; top:3px;}
.pills_oss_insight a:hover p {display:inline;}
.pills_oss_insight a:hover {display:inline;}
  

  .row_1 h2 {
    font-size: 1.5em;
    text-align: right;
    margin: 0;
    padding: 5px 5px 0px 0px;
    font-weight: 600;
  }

  .row_1 h2 span {
    margin-left: 0px;
  }
  
  .row_1 p {
    color: gray;
    font-size: 0.85em;
  }
  
  .icon_proj {
    position: relative;
    top: -5px;
    margin: 0;
    padding: 0px 0px 0px 5px;
  }

  .icon_proj img {
    margin-left: 6px;
  }
  
  .proj_description {
      max-height: 137px;
      overflow: hidden;
      padding-right: 15px;
      margin-bottom: 15px;
      text-align: justify;
  }

  .row_2 {
    margin: 5px;
  }
  
  .row_2 p {
    font-size: 0.7em;
    padding: 0;
    margin: 3px;
  }
  
  .row_2 h2 {
    font-size: 1.4em;
    padding: 0;
    margin: 0;
  }
  
  .row_2 > .col-xl-3 {
    margin-top: 10px;
    padding: 0;
  }
  
  .progress {
      margin: auto;
      margin-top: 10px;
      width: 60%;
  }

  .progress p {
      color: white;
      font-size: 14px;
      margin-top: -2px;
  }

/* ----------------------
Info Button RELIABILITY
-----------------------*/


.reliability_info dfn {
  padding: 0 0.4em;
  cursor: help;
  font-style: normal;
  position: relative;
}

.reliability_info dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: -60px;
  opacity: 0;
  width: 200px;
  font-size: 15px;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
  font-size: 0.9em;
}
.reliability_info dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 33px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0,0,0,0.8);
  transition: opacity 250ms, top 250ms;
  font-size: 0.9em;
}
.reliability_info dfn:hover {z-index: 1000000;} /* Keeps the info boxes on top of other elements */
.reliability_info dfn:hover::after,
.reliability_info dfn:hover::before {opacity: 1; font-size: 0.9em;}
.reliability_info dfn:hover::after {top: 20px;}
.reliability_info dfn:hover::before {top: 10px;}



/* ----------------------
Info Button OSS INSIGHT
-----------------------*/


.pills_oss_insight dfn {
  padding: 0 0.4em;
  font-style: normal;
  position: relative;
}

.pills_oss_insight dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 30px; left: -50px;
  opacity: 0;
  width: 120px;
  font-size: 15px;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
  font-size: 0.7em;
}
.pills_oss_insight dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 20px; left: 10px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0,0,0,0.8);
  transition: opacity 250ms, top 250ms;
  font-size: 0.7em;
}
.pills_oss_insight dfn:hover {z-index: 1000000;} /* Keeps the info boxes on top of other elements */
.pills_oss_insight dfn:hover::after,
.pills_oss_insight dfn:hover::before {opacity: 1; font-size: 0.7em;}
.pills_oss_insight dfn:hover::after {top: 35px;}
.pills_oss_insight dfn:hover::before {top: 25px;}