/* ----------------------
Remove automatic Streamlit hover link
-----------------------*/

.h2_remove_hover div :not(span) {
  display: none;
}

html {
  min-width: 700px;
  height:10px;
}


/* ----------------------
Sidebar
-----------------------*/

#pharmapackages {
  background-color: #F1F1F1;
  color: #002171;
}

section[data-testid="stSidebar"] > :last-child {
  top: 60px;
}

section[data-testid="stSidebar"] {
    margin-top: 48px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

section[data-testid="stSidebar"] > :first-child > :last-child  {
  margin-top: -90px;
  padding-bottom: 110px;
}

.stTextInput div[data-baseweb="input"] {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


/* ----------------------
Content
-----------------------*/

/* remove upper space on content page */
.main iframe {
  height: 1rem;
}

.appview-container > :last-child {
    margin-top: -110px;
}

.stTextInput {
    position: relative;
    top: -30px;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 30px;
    border-radius: 15px;
  }
  
  .icon_package_card {
    -ms-flex: 0 0 80px;
      flex: 0 0 80px;
      padding: 4px 3px 0px 15px;
  }
  
  @media (max-width: 690px) {
    .icon_package_card {
      display: none; 
    } 
  }
  

  .row_1 h2 {
    font-size: 1.5em;
    text-align: right;
    margin: 0;
    padding: 5px 5px 0px 0px;
    font-weight: 600;
  }

  .row_1 h2 span {
    margin-left: 0px;
  }
  
  .row_1 p {
    color: gray;
    font-size: 0.85em;
  }
  
  .icon_proj {
    position: relative;
    top: -5px;
    margin: 0;
    padding: 0px 0px 0px 5px;
  }

  .icon_proj img {
    margin-left: 6px;
  }
  
  .proj_description {
      max-height: 137px;
      overflow: hidden;
      padding-right: 15px;
      margin-bottom: 15px;
      text-align: justify;
  }

  .row_2 {
    margin: 5px;
  }
  
  .row_2 p {
    font-size: 0.7em;
    padding: 0;
    margin: 3px;
  }
  
  .row_2 h2 {
    font-size: 1.4em;
    padding: 0;
    margin: 0;
  }
  
  .row_2 > .col-xl-3 {
    margin-top: 10px;
    padding: 0;
  }
  
  .progress {
      margin: auto;
      margin-top: 10px;
      width: 60%;
  }

  .progress p {
      color: white;
      font-size: 14px;
      margin-top: -2px;
  }

/* ----------------------
Info Button
-----------------------*/


dfn {
  padding: 0 0.4em;
  cursor: help;
  font-style: normal;
  position: relative;
}
dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: -60px;
  opacity: 0;
  width: 200px;
  font-size: 15px;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
  font-size: 0.9em;
}
dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 33px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0,0,0,0.8);
  transition: opacity 250ms, top 250ms;
  font-size: 0.9em;
}
dfn:hover {z-index: 1000;} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {opacity: 1; font-size: 0.9em;}
dfn:hover::after {top: 20px;}
dfn:hover::before {top: 10px;}